@mixin body-color($color-list) {
    @each $sreen,$color in $color-list{
        @if $sreen == 'null'{
            background: $color;
        }
        @else{
            @media screen and (min-width:$sreen) {
                background: $color;
            }
        }
    }    
}

$color-list : (
    'null': #000,
    '480px': #f0f,
    '728px': #a4e,
    '1200px': #ccc
);

body,html{
    width: 100%;
    height: 100%;
    @include body-color($color-list);
}