@mixin  body-color($list,$color:$sreensize){
    @each $point,$color in $list {
        @if  $point == 'null' {
            background: $color
        }
        @else {
            @if map-has-key($sreensize,$point){
                $point : map-get($sreensize,$point)
            }
            @media screen and (min-width:$point){
                background: $color
            }
        }
    }
}
$sreensize:(
    'small':'480px',
    'middle':'728px',
    'large':'1200px'
);
$list1:(
    'null': HSLA(360,50%,50%,.4),
    'small':#000,
    'middle':#ccc,
    'large':#a10
);
body,html{
    width: 100%;
    height: 100%;
    @include body-color($list1);
}